extends partials/layout
block content
    if results
        table.table
            tr
                th file
                th file name
                th size
                th longitude
                th latitude
                th service request id
                th date posted
                th delete
            for result in results
                tr
                    td 
                        img.img(src="#{result.imgUrl}" class="object-fit_scale-down")
                    td= result.fkPhid
                    td= result.size
                    td= result.longitude 
                    td= result.latitude
                    td= result.serviceRequestId
                    td= result.timestamp
                    td
                        a(href='/delete/#{result._id}') delete
                    